.download-button {
  background-color: #ffffff;
  color: #00b58f;
  border: 1px solid #00b58f;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: #00b58f;
    border: 1px solid rgb(204, 204, 204);
    color: white;
  }
}

@media (max-width: 768px) {
  .download-button {
    margin: 0 auto;
    margin-top: 20px;
  }
}
