.navbar {
  min-height: 10vh;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "inter", sans-serif;
  letter-spacing: -1.2px;

  .nav-links {
    display: flex;
    gap: 3em;
    padding-right: 3vw;
    align-items: center;

    button {
      border: none;
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 4px;
      background-color: black;

      a {
        color: white;
      }
    }

    a {
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2em;
      color: black;
    }
  }
}
