.preview {
  max-width: 480px;
  padding: 2rem;
  color: #000;
  border: 1px solid black;
  max-height: 600px;
  overflow: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  transform-origin: top right;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
  }

  .preview-step {
    margin-bottom: 2rem;
    page-break-inside: avoid;
    break-inside: avoid;

    h3 {
      font-weight: bold;
      font-size: 16px;
    }

    p {
      margin-top: 5px;
    }
  }
}

.preview-questions {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .question {
    font-style: italic;
  }

  .answer {
    display: block;
    margin-top: 0.2em;
    margin-left: 10px;
    width: 95%;
    text-align: justify;

    em {
      color: red;
      font-style: normal;
    }
  }
}
