* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  letter-spacing: -1.2px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.app-container {
  display: flex;
  margin: 0 auto;
  padding-top: 10vh;
  justify-content: center;
  gap: 2em;
  width: 100%;
  background-color: #f9f6f6;
  padding-bottom: 10vh;
}

.app-misc {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .preview-container {
    margin-top: 3rem;
  }
}
