* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  letter-spacing: -1.2px;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  margin: 0 auto;
  padding-top: 10vh;
  justify-content: center;
}
